.search-box {
    width: 500px;
}

.search-box input {
    outline: none;
    font-size: 13px;
    font-family: sans-serif;
}

.search-box input[type="text"] {
    width: 350px;
    height: 30px;
    border: 1px solid #EEE;
    border-radius: 2px;
    padding-left: 5px;
}

.search-box input[type="submit"] {
    margin-left: 10px;
    display: inline-block;
    border: none;
    height: 34px;
    width: 100px;
    background-color: #EEE;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    color: #555;
}